<div class="turnos-container">
  <h2 class="text-center">Mis Turnos</h2>

  <!-- Filtros -->
  <div class="filters-container">
    <input
      type="text"
      [(ngModel)]="filtroGlobal"
      (input)="aplicarFiltroGlobal()"
      placeholder="Filtrar turnos por estado, especialidad o paciente..."
      class="filter-input"
    />
  </div>

  <!-- Lista de Turnos -->
  <div class="appointments-list">
    <div *ngFor="let turno of turnosFiltrados" class="appointment-card">
      <p><strong>Especialidad:</strong> {{ turno.especialidad }}</p>
      <p><strong>Paciente:</strong> {{ turno.pacienteNombre }}</p>
      <p><strong>Fecha:</strong> {{ turno.fecha }}</p>
      <p><strong>Estado:</strong> <span class="badge" [ngClass]="{
        'badge-warning': turno.estado === 'pendiente',
        'badge-success': turno.estado === 'aceptado',
        'badge-info': turno.estado === 'realizado',
        'badge-danger': turno.estado === 'rechazado' || turno.estado === 'cancelado'
      }">{{ turno.estado | uppercase }}</span></p>

      <!-- Acciones -->
      <div *ngIf="turno.estado !== 'aceptado' && turno.estado !== 'realizado' && turno.estado !== 'rechazado' && turno.estado !== 'cancelado'">
        <button class="btn btn-danger" (click)="cancelarTurno(turno)">Cancelar Turno</button>
      </div>
      <div *ngIf="turno.estado !== 'aceptado' && turno.estado !== 'realizado' && turno.estado !== 'cancelado' && turno.estado !== 'rechazado'">
        <button class="btn btn-warning" (click)="rechazarTurno(turno)">Rechazar Turno</button>
      </div>
      <div *ngIf="turno.estado !== 'realizado' && turno.estado !== 'cancelado' && turno.estado !== 'rechazado' && turno.estado !== 'aceptado'">
        <button class="btn btn-success" (click)="aceptarTurno(turno)">Aceptar Turno</button>
      </div>
      <div *ngIf="turno.estado === 'aceptado'">
        <button class="btn btn-primary" (click)="finalizarTurno(turno)">Finalizar Turno</button>
      </div>
      <div *ngIf="turno.resena!=''">
        <button class="btn btn-info" (click)="verResena(turno)">Ver Reseña</button>
      </div>
    </div>

    <!-- Mensaje cuando no hay turnos -->
    <p *ngIf="turnosFiltrados.length === 0" class="no-turnos-message">No hay turnos disponibles.</p>
  </div>
</div>
