<div class="turnos-container">
  <h2 class="text-center">Mis Turnos</h2>

  <!-- Filtros -->
  <div class="filters-container">
    <input
      type="text"
      [(ngModel)]="filtroGlobal"
      (input)="aplicarFiltroGlobal()"
      placeholder="Filtrar turnos por estado, especialidad o paciente..."
      class="filter-input"
    />
  </div>

  <!-- Lista de Turnos -->
  <div class="appointments-list">
    <div *ngFor="let turno of turnosFiltrados" class="appointment-card" [appEstadoCard]="turno.estado">
      <p><strong>Especialidad:</strong> {{ turno.especialidad }}</p>
      <p><strong>Paciente:</strong> {{ turno.pacienteNombre }}</p>
      <p><strong>Fecha:</strong> {{ turno.fecha | date: 'short'}}</p>
      <p>
        <strong>Estado:</strong>
        <span appEstadoTurno="{{ turno.estado }}"> {{ turno.estado | uppercase }}</span>
      </p>

      <!-- Acciones -->
      <div class="actions-container">
        <button
          *ngIf="turno.estado !== 'aceptado' && turno.estado !== 'realizado' && turno.estado !== 'rechazado' && turno.estado !== 'cancelado'"
          class="btn btn-danger"
          (click)="cancelarTurno(turno)"
        >
          Cancelar Turno
        </button>
        <button
          *ngIf="turno.estado !== 'aceptado' && turno.estado !== 'realizado' && turno.estado !== 'cancelado' && turno.estado !== 'rechazado'"
          class="btn btn-warning"
          (click)="rechazarTurno(turno)"
        >
          Rechazar Turno
        </button>
        <button
          *ngIf="turno.estado !== 'realizado' && turno.estado !== 'cancelado' && turno.estado !== 'rechazado' && turno.estado !== 'aceptado'"
          class="btn btn-success"
          (click)="aceptarTurno(turno)"
        >
          Aceptar Turno
        </button>
        <button
          *ngIf="turno.estado === 'aceptado'"
          class="btn btn-primary"
          (click)="finalizarTurno(turno)"
        >
          Finalizar Turno
        </button>
        <button
          *ngIf="turno.comentario !== ''"
          class="btn btn-info"
          (click)="verComentario(turno)"
        >
        Ver Reseña/Comentario
        </button>
      </div>
    </div>

    <!-- Mensaje cuando no hay turnos -->
    <p *ngIf="turnosFiltrados.length === 0" class="no-turnos-message">No hay turnos disponibles.</p>
  </div>
</div>
