<h3>Sacar Turno</h3>

<div *ngIf="tipoUsuario === 'administrador'" class="pacientes">
  <label for="paciente">Seleccionar Paciente:</label>
  <select id="paciente" [(ngModel)]="pacienteSeleccionado">
    <option *ngFor="let paciente of pacientes" [ngValue]="paciente">
      {{ paciente.nombre }} {{ paciente.apellido }}
    </option>
  </select>
</div>
<!-- Mostrar Especialistas -->

<div class="especialistas">
  <button *ngFor="let especialista of especialistas" 
          (click)="seleccionarEspecialista(especialista)" 
          class="btn-redondo">
    <img [src]="especialista.imagen" alt="{{ especialista.nombre }}">
    <p>{{ especialista.nombre }} {{ especialista.apellido }}</p>
  </button>
</div>

<!-- Mostrar Especialidades -->
<div *ngIf="especialistaSeleccionado" class="especialidades">
  <button *ngFor="let especialidad of especialidades" 
          (click)="seleccionarEspecialidad(especialidad)" 
          class="btn-cuadrado">
    <img [src]="especialidad.imagen || 'https://firebasestorage.googleapis.com/v0/b/labiv-tp-final-56381.firebasestorage.app/o/especialidades%2Fespecialidad-por-defecto.png?alt=media&token=0218ba02-1cb2-47cb-b5d2-15f2b6687961'" alt="{{ especialidad.nombre }}">
    <p>{{ especialidad.nombre }}</p>
  </button>
</div>

<!-- Mostrar Días Disponibles -->
<div *ngIf="especialidadSeleccionada" class="dias-disponibles">
  <button *ngFor="let dia of diasDisponibles" 
          (click)="seleccionarDia(dia)" 
          class="btn-rectangular">
    {{ dia }}
  </button>
</div>

<!-- Mostrar Horarios Disponibles -->
<div *ngIf="diaSeleccionado" class="horarios-disponibles">
  <button *ngFor="let horario of horariosDisponibles" 
          (click)="seleccionarHorario(horario)" 
          class="btn-cuadrado">
    {{ horario }}
  </button>
</div>

<!-- Botón para confirmar el turno -->
<div *ngIf="diaSeleccionado && horarioSeleccionado">
  <button (click)="confirmarTurno()" class="btn-confirmar">
    Confirmar Turno
  </button>
</div>
