.turnos-especialidad-container{
    font-family: system-ui;
    width: 100%;
    max-width: 900px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
canvas {
  max-width: 100%;
  height: 100%;
}
  
  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #4c5baf;
  }

  
  .btn-pdf {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-pdf:hover {
    background-color: #45a049;
  }
  