:host {
  display: flex;
  flex-direction: column; /* Ordena los elementos de forma vertical */
  align-items: center; /* Centra horizontalmente los gráficos */
  gap: 20px; /* Espaciado entre los gráficos */
  min-height: 100vh;
  background: linear-gradient(135deg, #7e98f4, #ebb3b3);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
