:host {
  display: flex;
  flex-direction: column; /* Ordena los elementos de forma vertical */
  align-items: center; /* Centra horizontalmente los gráficos */
  gap: 20px; /* Espaciado entre los gráficos */
  min-height: 100vh;
  background: linear-gradient(135deg, #7e98f4, #ebb3b3);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.btn-descargar {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #45a049;
}

