<div class="register-container">
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <h2>Registro</h2>

    <label for="tipoUsuario">Tipo de usuario</label>
    <div class="tipo-usuario-buttons">
      <button type="button" (click)="setTipoUsuario('paciente')" [class.selected]="registroForm.get('tipoUsuario')?.value === 'paciente'">
        <img src="assets/paciente.png" alt="Paciente">
      </button>
      <button type="button" (click)="setTipoUsuario('especialista')" [class.selected]="registroForm.get('tipoUsuario')?.value === 'especialista'">
        <img src="assets/doctor.png" alt="Especialista">
      </button>
    </div>

    <!-- Campos comunes -->
    <label for="nombre">Nombre</label>
    <input type="text" formControlName="nombre" id="nombre" required>
    <label for="apellido">Apellido</label>
    <input type="text" formControlName="apellido" id="apellido" required>
    <label for="edad">Edad</label>
    <input type="number" formControlName="edad" id="edad" required>
    <label for="dni">DNI</label>
    <input type="text" formControlName="dni" id="dni" required>

    <!-- Campos específicos para pacientes -->
    <div *ngIf="tipoUsuario === 'paciente'">
      <label for="obraSocial">Obra Social</label>
      <input type="text" formControlName="obraSocial" id="obraSocial">
      <label for="img1">Imagen 1:</label>
      <input type="file" (change)="agregarImagen($event)" required>
      <label for="img2">Imagen 2:</label>
      <input type="file" (change)="agregarImagen($event)" required>
    </div>

    <!-- Campos específicos para especialistas -->
    <div *ngIf="tipoUsuario === 'especialista'">
      <label for="especialidad">Especialidad</label>
      <input type="text" formControlName="especialidad" id="especialidad">
      <label for="especialidadExtra">Nueva Especialidad (Opcional)</label>
      <input type="text" formControlName="especialidadExtra" id="especialidadExtra" placeholder="Agregar especialidad">
      <label for="img">Imagen de Perfil:</label>
      <input type="file" (change)="agregarImagen($event)" required>
    </div>

    <!-- Campos comunes -->
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email" required>
    <label for="password">Contraseña</label>
    <input type="password" formControlName="password" id="password" required>

    <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>
  </form>

  <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Iniciar sesión aquí</a></p>
</div>
