<div class="container">
  <div class="header">
    <h2>Turnos Solicitados por Especialista</h2>
  </div>

  <div class="filters">
    <div>
      <label for="fechaInicio">Fecha Inicio:</label>
      <input type="date" id="fechaInicio" (change)="onFechaInicioChange($event)" />
    </div>

    <div>
      <label for="fechaFin">Fecha Fin:</label>
      <input type="date" id="fechaFin" (change)="onFechaFinChange($event)" />
    </div>
  </div>

  <div class="chart-container">
    <canvas id="turnosEspecialistaChart"></canvas>
  </div>

</div>
